html {
    background: #171717;
    color: #ddd;   
}

table {
    margin: 0 auto;
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: .75rem;
}

.board {
    /* margin-top: calc(50vh - 10rem); */
    /* margin-top: calc(36vh - 10rem); */
    margin-top: 2rem;
    /* margin-top: 4.5rem; */
    
    border-spacing: .45rem;
}

.board td, .buttons button {
    padding: .25em .325em;
    text-align: center;

    border: 1px solid #aaa;
    background: #222;
    border-radius: .45rem;
    width: 3em;
    height: 3em;
    font-size: 1.5rem;
}

.buttons button {
    color: #ddd;
    font-size: 1.25rem;
    width: auto;
    margin: .5rem;
    padding: .75rem 1.15rem;
}

.board .selected {
    border-color: darkred;
    color: rgba(255, 0, 0, 0.836);
}

.score {
    margin-top: 1rem;
    position: fixed;
    right: .55rem; top: 0;
    z-index: -1;
}


th {
    text-align: right;
}

th + td {
    text-align: left;
    padding-left: .33em;
}

.valid {
    color: lightseagreen;
}

.valid::after {
    display: inline-block;
    position: absolute;
    padding-left: .33em;
    content: "✓";
    transform: translateY(-.1em);
}

.word {
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 1.5rem;
    display: inline-block;
    position: relative;

    padding-left: calc( 50vw - 5rem );
}

.word strong {
    /* display: inline-block; */
    padding-right: .2em;
}



/* #word {
    text-decoration: underline;
} */

#word::before {
    content: "__________";
    position: absolute;
    padding-left: .03em;
    letter-spacing: 0;
}

@media only screen and ( min-width: 51.5rem ) {
    .score {
        right: calc( 50vw - 25rem ); top: 0;
    }  
    .word {
        padding-left: 20.75rem;
        }
    }
}

ul {
    list-style: none;
    padding-left: .5rem;
    padding-right: .25rem;
    margin-top: 1.75rem;
    text-align: center;

}

ul li {
    display: inline-block;
    padding: .25em .75em;
}

ul li, #word {
    letter-spacing: .033em;
}

.sticky {
    position: sticky;
}