html {
    background: #171717;
    color: #ddd;   
}

table {
    margin: 0 auto;
}

.board {
    margin-top: calc(50vh - 10rem);
}

.board td {
    padding: .5em .65em;
    text-align: center;
}

.score {
    margin-top: 2rem;
}

th {
    text-align: right;
}

th + td {
    text-align: left;
    padding-left: .33em;
}