html {
    background: #171717;
    color: #ddd;   
}

table {
    margin: 0 auto;
}

.board {
    /* margin-top: calc(50vh - 10rem); */
    margin-top: calc(36vh - 10rem);
    
    border-spacing: .45rem;
}

.board td {
    padding: .25em .325em;
    text-align: center;

    border: 1px solid #aaa;
    background: #222;
    border-radius: .45rem;
    width: 3em;
    height: 3em;
    font-size: 1.5rem;
}

.board .selected {
    border-color: darkred;
    color: rgba(255, 0, 0, 0.836);
}

.score {
    margin-top: 2rem;
}

th {
    text-align: right;
}

th + td {
    text-align: left;
    padding-left: .33em;
}

